<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>登陆</title>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="display_div()">
    {% extends 'navigate.html' %}
    {%block search%}
    {%endblock%}
    {%block content%}
    <div class="container" style="width:400px">
      
      <form  method="POST">
          {% csrf_token %}
          
        <h2 class="form-signin-heading">请登录</h2>
        {{form}}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="登陆" ></input>
       
        {%if havepe%}
        <span style="color:red">登陆失败请重试！</span>
        {%endif%}
      </form>
      <a href="/signup"><button class="btn btn-lg btn-primary btn-block" type="button" style="margin-top: 10px">注册</button></a>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/jquery.min.js">
    </script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
   
        document.getElementById('id_username').className="form-control";
        document.getElementById('id_username').placeholder="电话号码/用户名";
        document.getElementById('id_upassword').className="form-control";
        document.getElementById('id_upassword').style="margin-bottom:10px"


    </script>
    {%endblock%}
  </body>
</html>
