<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    </head>
    <body>
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">品牌</a>
                        </div>
            
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">主页 <span class="sr-only">(current)</span></a></li>
                                <li><a href="/login">分类</a></li>
                                <!-- <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        
                        {%block search%}
                            <form class="navbar-form navbar-left" id="search_bar">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="搜索商品" style="width:538px;margin-left:200px">
                                </div>
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>
                            {%endblock%}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">我的订单</a></li>
                                {% if username is not None%}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                        aria-expanded="false">用户<span class="caret"></span></a>
                                        
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                        <a href="/login" style="margin-right:20px;color:red;line-height: 50px;cursor: pointer">请登录</a>
                                {% endif %}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
            
                </nav>
                {%block content%}
                {%endblock%}
                <div style="width:100%;height:300px;background-color: rgb(103, 114, 110);margin-top:100px"></div>
            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </body>
</html>